# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\anand\Documents\Kuliah\SMT 2\PBO - OOP\Modul 2\PBO2SulitWoiOOP2\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
